.footerMain__container {
  width: 100%;
  background: aliceblue;
  background-color: #393053;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  margin-top: 40px;
}
.footer__container {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 40px 0;
}
.footer__item {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer__item .footer__title h4 {
  font-size: 1.2rem;
  font-weight: 500;
  color: white;
  position: relative;
}
.footer__item .footer__title h4::after {
  content: "";
  width: 40%;
  height: 1px;
  position: absolute;
  bottom: -2px;
  left: 0;
  background-color: white;
}
.footer__details ul li {
  font-size: 0.9rem;
  font-weight: lighter;
  color: lightgray;
  margin-top: 10px;
}

.footer__details .routeLinks {
  color: lightgray;
}
.footer__details .routeLinks:hover {
  color: white;
}
.footer {
  width: 100%;
  text-align: center;
  padding: 10px 0;
  background-color: #18122B;
}
.footer p{
    font-size: 0.8rem;
    font-weight: 400;
}

@media (max-width: 800px) {
  .footer__container {
    width: 80%;
  }
}
@media (max-width: 700px) {
  .footer__container {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding: 40px 0;
  }
  .footer__item {
    width: 30%;
  }
  .footer__item .footer__title h4 {
    font-size: 1rem;
  }
  .footer__details ul li {
    font-size: 0.8rem;
  }
  .footer p{
    font-size: 0.6rem;
}
}
